@model FacturacionElectronica.Modelos.Inventario

@{
    ViewData["Title"] = "EliminarInventario";
}

<h3 class="heading" style="        text-align: center;
        margin: -19px 0 0;
        margin-top: 20px;
        color: #B8240A;

        font-family: Montserrat;
        font-style: normal;
        font-size: 45px;
        line-height: 78px;
    ">
    ¿ Está seguro que desea elimina eliminar @Html.DisplayFor(model => model.Descripcion) del inventario ?
</h3>

<div>
    </dl>

    <form asp-action="Eliminar" style="text-align:center; align-content:center; align-items:center;">
        <input type="submit" value="Si" class="btn btn-success" />
        <a asp-action="Listar" class="btn btn-danger">No</a>
    </form>
</div>
