@model FacturacionElectronica.Modelos.Inventario

@{
    ViewData["Title"] = "Eliminar";
}

<h3>Estás seguro de eliminar   @Html.DisplayFor(model => model.Descripcion) del inventario ?</h3>

<div>
    </dl>

    <form asp-action="Eliminar">
        <input type="submit" value="Si" class="btn btn-danger" />
        <a asp-action="Listar" class="btn btn-success">No</a>
    </form>
</div>
