@model FacturacionElectronica.Modelos.Inventario

@{
    ViewData["Title"] = "Eliminar";
}

<h3>¿ Está seguro que desea elimina eliminar @Html.DisplayFor(model => model.Descripcion) del inventario ?</h3>

<div>
    </dl> 

    <form asp-action="Eliminar">
        <input type="submit" value="Si" class="btn btn-success" />
        <a asp-action="Listar" class="btn btn-danger">No</a>
    </form>
</div>
