
@{
    ViewData["Title"] = "NoExisteInventario";
}

<h1 class="heading" style="        text-align: center;
        margin: -19px 0 0;
        margin-top: 20px;
        color: #B8240A;

        font-family: Montserrat;
        font-style: normal;
        font-size: 64px;
        line-height: 78px;
    ">
    Este producto no existe en el sistema
</h1>
<center>
    <div>
        <a asp-action="Listar" style="font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: #D6F5FA;
        line-height: 44px;
        background: #B8240A;
        border: 2px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 10px;">Regresar</a>
    </div>

</center>