@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="text-center ">
    <img src="~/Imagenes/Electro.png" width="650" height="450">
</div>

