@model FacturacionElectronica.Modelos.Factura

@{
    ViewData["Title"] = "EliminarFactura";
}


<h3  class="heading" style="        text-align: center;
        margin: -19px 0 0;
        margin-top: 20px;
        color: #B8240A;

        font-family: Montserrat;
        font-style: normal;
        font-size: 45px;
        line-height: 78px;
    "  >Estás seguro de eliminar la factura  @Html.DisplayFor(model => model.idFactura) ?</h3>

<div>
    </dl>

    <form asp-action="EliminarFactura" style="text-align:center; align-content:center; align-items:center;">
        <input type="submit" value="Si" class="btn btn-danger" />
        <a asp-action="ListarFacturas" class="btn btn-success">No</a>
    </form>
</div>