@model FacturacionElectronica.UI.Areas.Identity.Data.Usuario;

@{
    ViewData["Title"] = "Eliminar";
}


<h3>¿ Estás seguro que desea eliminar a  @Html.DisplayFor(model => model.UserName) ?</h3>

<div>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="submit" value="Si" class="btn btn-success" />
        <a asp-action="Listar" class="btn btn-danger">No</a>
    </form>
</div>
