@model FacturacionElectronica.UI.Areas.Identity.Data.Usuario

@{
    ViewData["Title"] = "ModificarUsuario";
}

@{
    var TipoDeIdentificacion = new List<SelectListItem>()
{
        new SelectListItem()
        {
            Text = "Cédula física.",
            Value = "1"
        },
        new SelectListItem()
        {
            Text = "Cédula jurídica.",
            Value = "2"
        },
        new SelectListItem()
        {
            Text = "DIMEX.",
            Value = "3"
        },
        new SelectListItem()
        {
            Text = "NITE",
            Value = "4"
        }
    };
}

<h1 class="heading" style="        text-align: center;
        margin: -19px 0 0;
        margin-top: 20px;
        color: #B8240A;

        font-family: Montserrat;
        font-style: normal;
        font-size: 64px;
        line-height: 78px;
    ">
    Modificar usuario
</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Modificar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                <input asp-for="Nombre" class="rounded border border-danger" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="PrimerApellido" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                    <input asp-for="PrimerApellido" class="rounded border border-danger" />
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SegundoApellido" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                    <input asp-for="SegundoApellido" class="rounded border border-danger" />
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="Identificacion" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                    <input asp-for="Identificacion" class="rounded border border-danger" />
                    <span asp-validation-for="Identificacion" class="text-danger"></span>
                </div>
               
                    <div class="form-group">
                        <label asp-for="TipoDeIdentificacion" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                        <br />
                        @Html.DropDownList("TipoIdentificacion", TipoDeIdentificacion)
                    </div>
            </div>
           
            <div class="row">
                <div class="form-group">
                    <label asp-for="Provincia" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                    <input asp-for="Provincia" class="rounded border border-danger" />
                    <span asp-validation-for="Provincia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Canton" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                    <input asp-for="Canton" class="rounded border border-danger" />
                    <span asp-validation-for="Canton" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="Distrito" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                    <input asp-for="Distrito" class="rounded border border-danger" />
                    <span asp-validation-for="Distrito" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OtrasSenas" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
"></label>
                    <input asp-for="OtrasSenas" class="rounded border border-danger" />
                    <span asp-validation-for="OtrasSenas" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label" style="        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        color: #B8240A;
                "></label>
                <input asp-for="Email" class="rounded border border-danger" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <center>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" style="font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #D6F5FA;
        line-height: 44px;
        background: #B8240A;
        border: 2px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 10px;" />
                </div>
            </center>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
