@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de sesión";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<link rel="stylesheet" href="~/css/site.css" />
<h1></h1>
<center>
    <section>
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="textoLogin">Correo Electrónico</label>
                <input asp-for="Input.Email" class="form-control mensajeentrada" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Input.Password" class="textoLogin"></label>
                <input asp-for="Input.Password" class="form-control mensajeentrada" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="botoninicio">Iniciar Sesión</button>
            </div>

        </form>
    </section>
</center>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
