@model FacturacionElectronica.Modelos.Cliente

@{
    ViewData["Title"] = "EliminarCliente";
}


<h3 class="heading" style="        text-align: center;
        margin: -19px 0 0;
        margin-top: 20px;
        color: #B8240A;

        font-family: Montserrat;
        font-style: normal;
        font-size: 45px;
        line-height: 78px;
    ">
    Estás seguro de eliminar a  @Html.DisplayFor(model => model.Nombre) ?
</h3>

<div>
    </dl>

    <form asp-action="Eliminar" style="text-align:center; align-content:center; align-items:center;">
        <input type="submit" value="Si" class="btn btn-danger" />
        <a asp-action="Listar" class="btn btn-success">No</a>
    </form>
</div>
