@using Microsoft.AspNetCore.Identity
@using FacturacionElectronica.UI.Areas.Identity.Data

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="btn btn-outline-dark btn-lg" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Configuracion</a>
    </li>
}

</ul>
