/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}


.pie {
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    color: #B8240A;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: flex;
    background: #BFEFF7;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

    .pie:hover {
        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        text-decoration-color: #BFEFF7;
        display: flex;
        align-items: center;
        text-align: center;
        background: #474B4E;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #BFEFF7;
        margin: 11px;
        font-weight: bold;
        width: auto;
    }




.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.arriba {
    background: #BFEFF7;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.abajo {
    background: #BFEFF7;
    position: relative;
    bottom: 0;
    width: 200%;
    height: 80px;
    position: fixed;
    align-items: flex-start;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 10px;

}

@media (min-width: 720px) {
    html {
        font-size: 12px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 90%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
    white-space: nowrap;
    line-height: 50px; /* Vertically center the text there */
    align-items: flex-start;
}
