/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar a {
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    color: #BFEFF7;
    font-weight: bold;
    width: auto;
    text-align: center;
    display: flex;
    background: #B8240A;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

    .navbar a:hover {
        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        text-decoration-color: #BFEFF7;
        display: flex;
        align-items: center;
        text-align: center;
        background: #474B4E;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #BFEFF7;
        margin: 11px;
        font-weight: bold;
        width: auto;
    }


.navbar button {
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    color: #BFEFF7;
    display: flex;
    align-items: center;
    text-align: center;
    background: #B8240A;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    font-weight: bold;
    width: auto;
}

    .navbar button:hover {
        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        text-decoration-color: #BFEFF7;
        display: flex;
        align-items: center;
        text-align: center;
        background: #474B4E;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #BFEFF7;
        margin: 11px;
        font-weight: bold;
        width: auto;
    }


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.arriba {
    background: #BFEFF7;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.abajo {
    background: #BFEFF7;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    align-items: flex-start;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    align-items: flex-start;
}

.mensajeentrada {
    background-color: #D6F5FA;
    border: 2px solid #B8240A;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

    .textoLogin {
        color: #B8240A;
        font-family: Montserrat;
        font-style: normal;
        font-size: 24px;
        font-weight: bold;
    }

.botoninicio {
    background: #B8240A;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 22px;
    display: flex;
    box-sizing: border-box;
    color: #FEFDFB;
    text-align: center;
    align-content: center;
}
